@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #161a1d;
  position: fixed;
  color: white;
  overflow-x: hidden;
}

h2 {
  font-weight: 700;
  color: #ff6961;
}
